<div id="content">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
      </div>

      <article class="col-sm-12 col-md-12 col-lg-12">
        <div>

          <header>
            <h2>Webservice configuration</h2>
          </header>

          <div>
            <div class="widget-body no-padding">

              <div class="lightest-gray-bg">
                <br>
                <div class="col-md-6">
                  <div class="input-group">
                    <div class="icon-addon">
                      <input type="text" id="search" class="form-control" [(ngModel)]="controls.filter"
                             placeholder='Search...'
                             (keyup)='updateFilter($event)'>
                    </div>
                  </div>
                </div>

                <div class="row"  style="padding: 8px 12px">
                  <div class="col-sm-12">
                  </div>
                </div>
                <ngx-datatable
                        style="height: 520px;"
                        #myTable
                        class='table-striped'
                        [columnMode]="'flex'"
                        [headerHeight]="40"
                        [footerHeight]="60"
                        [rowHeight]="40"
                        [scrollbarV]="35"
                        [rows]="rows"
                        [selected]="selected"
                        [selectionType]="'checkbox'"
                        (select)='onSelect($event)'
                        (page)="onPage($event)">
                  <!-- footer Templates -->
                  <ngx-datatable-footer>
                    <ng-template
                            ngx-datatable-footer-template
                            let-rowCount="rowCount"
                            let-pageSize="pageSize"
                            let-selectedCount="selectedCount"
                            let-curPage="curPage"
                            let-offset="offset">
                      <div style="margin-top:50px;margin-bottom: 30px">

                        <div class="form-group">
                          <button class='btn btn-xs pull-left' (click)="addNewItem()"
                                  style='background-color: #093f5c;color: white'><i
                                  class="fa fa-plus"></i></button>
                          <button class='btn btn-xs  pull-left'
                                  style='margin-left:5px;background-color: #093f5c;color: white'
                                  type="button" id="confirm-text"
                                  (click)="confirmDelete()" ><i class="fa fa-trash"></i></button>
                          <button class='btn btn-xs pull-left'
                                  style='margin-left:5px;background-color: #093f5c;color: white'
                                  (click)="RefreshWebServiceTable()"><i class="fa fa-refresh"></i></button>

                          <datatable-pager style="margin-left: 300px"
                                           [page]="curPage"
                                           [size]="pageSize"
                                           [count]="rowCount"
                                           (change)="myTable.onFooterPage($event)"
                                           [pagerLeftArrowIcon]="cssClasses.pagerLeftArrow"
                                           [pagerRightArrowIcon]="cssClasses.pagerRightArrow"
                                           [pagerPreviousIcon]="cssClasses.pagerPrevious"
                                           [pagerNextIcon]="cssClasses.pagerNext">
                          </datatable-pager>

                        </div>

                      </div>
                      <select (change)="GetWebServices()" [(ngModel)]="itemsPerPage" class="ui-pg-selbox " role="listbox"
                              style="height: 33px;width: 42px;background-color: #093f5c;color: white">
                        <option *ngFor="let size of pagesizelist" [ngValue]="size">{{size}}</option>
                      </select>
                    </ng-template>
                  </ngx-datatable-footer>
                  <!-- row Templates -->
                  <ngx-datatable-row-detail [rowHeight]="'70%'" #myDetailRow (toggle)="onDetailToggle($event)">
                    <ng-template let-row="row" ngx-datatable-row-detail-template>

                      <article class="col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 100px">
                        <form class="form-horizontal" novalidate="novalidate" #f="ngForm">
                          <div class="well">
                            <div>
                              <!-- widget content -->
                              <div class="widget-body">
                                <div class="col-md-12 col-lg-12">
                                  <div class="card">
                                    <div class="card-content">
                                      <div class="card-body">
                                        <ngb-tabset>
                                          <ngb-tab title="Genereal">
                                            <ng-template ngbTabContent>
                                              <h4 class="form-section"><i class="ft-airplay"></i> Webservice details</h4>
                                              <fieldset>
                                                <div class="form-group" [hidden]="!webServiceModel.id">
                                                  <label class="col-md-2 control-label">ID</label>
                                                  <div class="col-md-8">
                                                    <input class="form-control" type="text" name="id" #id="ngModel"
                                                           [(ngModel)]="webServiceModel.id" readonly>
                                                  </div>
                                                </div>

                                                <div class="form-group">
<!--                                                  <label class="col-md-2 control-label">webservice name</label>-->
                                                  <div class="col-md-8">
                                                    <label for="inputnamewb">webservice name</label>
                                                    <input class="form-control" placeholder="Webservice name" type="text" id="inputnamewb" name="inputnamewb" ngModel required
                                                    [(ngModel)]="webServiceModel.webserviceName" minlength="4" maxlength="10" [ngModelOptions]="{updateOn: 'blur'}" #inputnamewb="ngModel">
                                                    <small class="form-text text-muted danger" *ngIf="!inputnamewb.valid && (inputnamewb.dirty || inputnamewb.touched)">webservice name
                                                      characters length must be between 4 and 10 !</small>
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                  <label class="col-md-2 control-label">webservice Description</label>
                                                  <div class="col-md-8">
                                                    <input class="form-control" placeholder="Webservice description" type="text" id="inputdescwb" name="inputdescwb" ngModel required
                                                           [(ngModel)]="webServiceModel.webserviceDescription" minlength="4" maxlength="24" [ngModelOptions]="{updateOn: 'blur'}" #inputdescwb="ngModel">
                                                    <small class="form-text text-muted danger" *ngIf="!inputdescwb.valid && (inputdescwb.dirty || inputdescwb.touched)">webservice description
                                                      characters length must be between 4 and 24 !</small>
                                                  </div>
                                                </div>
                                              </fieldset>
                                            </ng-template>
                                          </ngb-tab>
                                          <ngb-tab>
                                            <ng-template ngbTabTitle>Database configuration</ng-template>
                                            <ng-template ngbTabContent>
                                              <h4 class="form-section"><i class="ft-align-justify"></i> Database settings</h4>
                                              <fieldset>
                                                <div class="row">
                                                  <div class="col-sm-4">
                                                    <div class="form-group">
                                                      <div class="col-sm-12">
                                                        <label class="control-label">Db name</label>
                                                        <input type="text" class="form-control" id="inputdbname"  name="inputdbname" ngModel required
                                                                placeholder="Database name" [(ngModel)]="webServiceModel.params.dbName" #inputdbname="ngModel">
                                                        <small class="form-text text-muted danger" *ngIf="!inputdbname.valid && (inputdbname.dirty || inputdbname.touched)">Db name is required</small>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="col-sm-4">
                                                    <div class="form-group has-feedback">
                                                      <div class="col-sm-12">
                                                        <label class="control-label">Host</label>
                                                        <input class="form-control ng-pristine ng-valid" placeholder="ex:localhost" id="inputdbip" name="inputdbip" ngModel required
                                                               pattern="(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)_*(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)_*){3}" [(ngModel)]="webServiceModel.params.dbIp" #inputdbip="ngModel">
                                                        <small class="form-text text-muted danger" *ngIf="!inputdbip.valid && (inputdbip.dirty || inputdbip.touched)">Host ip not valid</small>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="col-sm-4 selectContainer">
                                                    <label class="control-label">Db type</label>
                                                    <select class="form-control ng-pristine ng-valid" name="dbType"
                                                            (change)="dbTypeChange()"
                                                            [(ngModel)]="webServiceModel.params.dbType" #dbType="ngModel">
                                                      <option value="" disabled="" class="">Type</option>
                                                      <option>postgresql</option>
                                                      <option>mysql</option>
                                                      <option>oracle</option>
                                                      <option>mongodb</option>
                                                    </select>
                                                  </div>

                                                </div>
                                                <div class="row">
                                                  <div class="col-sm-4">
                                                    <div class="form-group has-feedback">
                                                      <div class="col-sm-12">
                                                        <label class="control-label">Port</label>
                                                        <input class="form-control" placeholder="ex:5432" name="inputdbport" id="inputdbport" ngModel required
                                                               [(ngModel)]="webServiceModel.params.dbPort" #inputdbport="ngModel">
                                                          <small class="form-text text-muted danger" *ngIf="!inputdbport.valid && (inputdbport.dirty || inputdbport.touched)">Db port ip not required</small>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="col-sm-4">
                                                    <div class="form-group has-feedback">
                                                      <div class="col-sm-12">
                                                        <label class="control-label">Login DB</label>
                                                        <input class="form-control" placeholder="Login" id="inputdblogin"  name="inputdblogin" ngModel required
                                                               [(ngModel)]="webServiceModel.params.dbLogin" #inputdblogin="ngModel">
                                                        <small class="form-text text-muted danger" *ngIf="!inputdblogin.valid && (inputdblogin.dirty || inputdblogin.touched)">Db login is required</small>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="col-sm-4">
                                                    <div class="form-group has-feedback">
                                                      <div class="col-sm-12">
                                                        <label class="control-label">Password</label>
                                                        <input class="form-control" placeholder="Password" id="inputdbpassword" name="inputdbpassword" type="password" ngModel required
                                                               [(ngModel)]="webServiceModel.params.dbPassword" #inputdbpassword="ngModel">
                                                        <small class="form-text text-muted danger" *ngIf="!inputdbpassword.valid && (inputdbpassword.dirty || inputdbpassword.touched)">Db password is required</small>
                                                      </div>
                                                    </div>
                                                    <button (click)="CheckConnection(row)"
                                                            class="btn btn-raised gradient-mint white pull-right" type="button">Test connection &nbsp;&nbsp;
                                                      <i class="fa fa-spinner fa-spin" *ngIf="row.loadingSpinner"></i>
                                                    </button>
                                                  </div>
                                                </div>
                                              </fieldset>
                                             </ng-template>
                                          </ngb-tab>
                                          <ngb-tab title="Swagguer-ui">
                                            <ng-template ngbTabContent>
                                              <h4 class="form-section"><i class="ft-inbox"></i> Swagguer-ui</h4>
                                              <div id="div1" style="height: 500px;position:relative;">
                                                <div id="div2" style="max-height:100%;overflow:auto;border:1px;">
                                                  <div id="div3" style="height:1000px;border:5px;">
                                                  </div>
                                                </div>
                                              </div>
                                            </ng-template>
                                          </ngb-tab>
                                        </ngb-tabset>
                                        <div class="smart-form">
                                          <footer style="margin-top: -23px">
                                            <button
                                                    style="margin-top: 26px"
                                                    class="btn btn-raised gradient-purple-bliss white pull-right" type="submit" (click)="CreateWebService()" [disabled]="!f.valid"><i class="ft-check-circle"></i> Save
                                            </button>
                                          </footer>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </article>
                    </ng-template>
                  </ngx-datatable-row-detail>

                  <!-- Column Templates -->
                  <ngx-datatable-column [resizeable]="false" [flexGrow]="0.01">
                    <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn" class="width">
                      <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column
                          [flexGrow]="0.01"


                          [resizeable]="false"
                          [sortable]="true"
                          [draggable]="false"
                          [canAutoResize]="true">


                    <ng-template class="align-center" let-row="row" ngx-datatable-cell-template>
                      <a class="fa"

                         [ngClass]="{
               'fa-plus':!row.$$expanded,
               'fa-minus':row.$$expanded
                                    }"
                         title="Expand/Collapse Row"
                         (click)="toggleExpandRow(row)">
                      </a>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="WebService name" [flexGrow]="0.1" [resizeable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template [(ngModel)]="webServiceModel" name="webserviceName" ngDefaultControl>
                      <strong>{{row.webserviceName}}</strong>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="WebService description" [flexGrow]="0.1"   [resizeable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template [(ngModel)]="webServiceModel" name="webserviceDescription" ngDefaultControl>
                      <strong>{{row.webserviceDescription}}</strong>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>

<!--                <ngx-loading [show]="loading"-->
<!--                             [config]="{ backdropBorderRadius: '3px',primaryColour:'#093f5c',secondaryColour:'#093f5c',tertiaryColour:'#093f5c' }">-->
<!--                </ngx-loading>-->
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
</div>
