

<div  class="btn1">


  <a  href="javascript:void(0)"mat-raised-button color="primary" (click)="open(content)" class="btn btn-raised gradient-mint white">Ajouter Salle</a>
</div>
<table class="table datatable-responsive">
  
  <thead>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Email</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Pays of pays">
      <td>{{ Pays.id }}</td>
      <td>{{ Pays.username }}</td>
      <td>{{ Pays.email }}</td>
      
      
      <td class="text-center">
        <div class="list-icons">
          <div class="dropdown">
      
              

      
        <a href="javascript:void(0)" (click)=" delete(Pays.id)" (click)="open2(contentt)" class="btn btn-raised gradient-pomegranate white">Supprimer</a>
        
        
  
          </div>
        </div>
      </td>
    </tr>

  </tbody>
</table>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New user</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card my-5">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #libelleForm="ngForm">
          <div class="form-group">
            <label for="login">Username</label>
            <input type="text" [(ngModel)]="pay.username" 
            class="form-control" 
            id="libelle" 
            name="libelle" 
            placeholder="Enter  username "
            required>
        </div>
        <div class="form-group">
          <label for="login">Email </label>
          <input type="text" [(ngModel)]="pay.email" 
          class="form-control" 
          id="capacite" 
          name="capacite" 
          placeholder="Enter  l'email "
          required>
      </div>
       
        <div class="modal-footer">
          <a href="javascript:void(0)" class="btn btn-raised gradient-ibiza-sunset"  (click)="onSubmit()" (click)="modal.close('Save click')">Submit</a>
        </div>
      </form>
    </div>
  </div>
  
  </div>
 
</ng-template>

<ng-template #contentt let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bonjour</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>voulez vous supprimer l'utilisateur' ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"  (click)="c('Save click')"> oui </button>
  </div>
</ng-template>
